body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    width: 400px;
}

#new-task {
    width: 378px;
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
    color: #e0e0e0;
    border-radius: 5px;
    outline: none;
}

new-task::placeholder {
    color: #bbb;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#task-list > li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

#task-list > li:hover .del-task {
    opacity: 1;
    visibility: visible;
}

.del-task {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    transition: background-color 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.del-task:hover {
    background-color: #d32f2f;
}